<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDepyd_HLmg4xLBVO1YckLWpCBspP10uvM</string>
	<key>GCM_SENDER_ID</key>
	<string>456140348125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullah.mumtaz65.AICHAT</string>
	<key>PROJECT_ID</key>
	<string>chatbot-11ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-11ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456140348125:ios:ec3bf9d8282e171b961934</string>
</dict>
</plist>